@import "../../app.scss";

.Navbar{
    height: 100px;
    // border: 2px solid red;
    .wrapper{
        // background-color: blue;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1266px;
        height: 100%;
        padding: 0 25px;
        // border: 2px solid rebeccapurple;
        @include largeTablet{
                padding: 0 50px;
        }
        .nameDetails{
            // background-color: black;
            display: flex;
            gap: 20px;
            font-weight: 700;
            padding-left: 2rem;
            @include largeTablet{

            }
            @include mobile{
                justify-content: center;
                // border: 2px solid rebeccapurple;
                margin: auto;
            }
        }
        .line{
            height: 20px;
            background-color: lightgray;
            width: 2px;
        }
        img{
            width: 25px;
            height: 25px;
        }
        .social{
            display: flex;
            gap: 20px;
            @include mobile{
                display: none;
            }
        }
    }
}